<ul class="event-beneficiaries">
    {% assign num_beneficiaries = include.event.beneficiaries | size %}
    {% if 0 == num_beneficiaries %}
    <li>To be determined; <a href="{% link beneficiaries/apply/index.md %}#MainContent">apply now to become a beneficiary</a>!</li>
    {% else %}
    {% for beneficiary in include.event.beneficiaries %}
    <li>
    {% assign x = beneficiary | replace: " ", "_" %}
    {% assign b = site.data.organizations[x] %}
        <div>
        {% if b.url %}<a href="{{ b.url }}">{% endif %}
            {% if b.logo %}<img src="{{ b.logo }}" />{% endif %}
            {{ b.name }}
            &lt;{{ b.email }}&gt;
        {% if b.url %}</a>{% endif %}
        </div>
        {% unless include.excerpt_only %}
        {{ b.description | markdownify }}
        {% endunless %}
    </li>
    {% endfor %}
    {% endif %}
</ul>
