<header id="Masthead">
    <h1 itemprop="name" content="{% include site-title.txt %}">
        <a href="{%- include homeurl.html -%}">
            <img src="{{ site.logo | relative_url }}" alt="{% include site-title.txt %}" itemprop="image" width="100%" />
        </a>
    </h1>
    <p id="Tagline">Hack the planet. Frag the man. Free the world.</p>

    <p style="text-align: left;">A cybersecurity competition that anyone can play to benefit local community beneficiaries.</p>
    <p style="text-align: left;">Next game&rsquo;s beneficiaries:</p>
    <ul id="beneficiaries">
        {% for event in site.events limit: 1 %}
        {% for beneficiary in event.beneficiaries %}
        {% assign x = beneficiary | replace: " ", "_" %}
        {% assign b = site.data.organizations[x] %}
        <li style="font-size: x-small;">
            {% if b.url %}<a href="{{ b.url }}">{% endif %}
                <img src="{{ b.logo }}" style="width: 100%;" />
                {{ b.name }}
            {% if b.url %}</a>{% endif %}
        </li>
        {% endfor %}
        {% endfor %}
    </ul>

    {% comment %} For now, we don't have a use for this.

    <nav id="MainNavigation" onclick="void(0);">{% comment %} Mobile Safari requires `onclick` to activate touch events. {% endcomment %}
        {% include site-navigation.html %}
    </nav>

    {% include site-language.html %}

    {% endcomment %}
</header>
