<header id="Masthead">
    <h1 itemprop="name" content="{% include site-title.txt %}">
        <a href="{%- include homeurl.html -%}">
            <img src="{{ site.logo | relative_url }}" alt="{% include site-title.txt %}" itemprop="image" width="100%" />
        </a>
    </h1>
    <p id="Tagline">Hack the planet. Frag the man. Free the world.</p>
    <p>A gamified computer education event awarding cash donations to community beneficiaries in need.</p>

    {% assign events = site.events | where_exp: "event", "event.endDate > site.time" | sort: "startDate" %}
    {% if 1 <= events.size %}
    {% for event in events limit: 1 %}
    <p>Next game&rsquo;s beneficiaries:</p>
    {% include event-beneficiaries.html event=event excerpt_only=true %}
    {% endfor %}
    {% endif %}

    {% comment %} For now, we don't have a use for this.
    {% include site-language.html %}
    {% endcomment %}
</header>
