/**
* @group Typography.
*/
@font-face {
    src: url("../fonts/CallingCode-Regular.ttf");
    font-family: "CallingCode";
}
body {
    background: #000;
    color: #79DBA8;
    font: 16px CallingCode, Monospace;
}
h1 {
    position: relative;
    top: -11px;
    margin: 0;
    padding: 0;
}
h2,
h3,
#Masthead,
#PageFooter,
#MainNavigation ul {
    margin: 0;
    padding: 0;
}
#Masthead {
    letter-spacing: -1px;
}
#Masthead p {
    font-size: 14px;
}
p {
    line-height: 1.25em;
}
h2 {
    text-align: center;
}
h3::before {
    content: "\2691";
    margin-right: .5em;
}
#next-event {
    padding: 1em;
}
#next-event .e-content > p:last-child {
    text-align: center;
}
.p-location {
    word-wrap: break-word;
}
.icon {
    width: 1em;
}
#MainNavigation a,
a.button {
    display: inline-block;
    margin-bottom: .5em;
    border: .15em solid yellow;
    border-radius: 5px;
    padding: .5em;
    color: yellow;
    letter-spacing: 2px;
    text-decoration: none;
    text-transform: uppercase;
    transition: color 0.5s, background-color 0.5s;
}
a.button img.icon {
    filter: invert(100%);
    transition: filter 0.5s;
}
#MainNavigation a:hover,
a.button:hover {
    border: .15em solid yellow;
    color: #000;
    background: yellow;
}
a.button:hover img {
    filter: invert(0);
}
#PageFooter {
    text-align: center;
    font-size: small;
}
/**
 * @group Layout
 */
html, body {
    margin: 0;
    border: 0;
    padding: 0;
}
body {
    margin-top: 3em;
    padding: 0 20px 2em;
}
#the-background-noise {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background: url("../images/screencapture.gif") center no-repeat ;
    background-size: calc(100% + 400px);
    opacity: .3;
    z-index: -100;
}
#MainContent > section {
    margin: 2em 0;
    background: rgba(255,255,255,.3);
    padding: 1em;
}
section:first-of-type {
    border-radius: 3em 3em 0 0;
}
section:last-of-type {
    border-radius: 0 0 3em 3em;
}
section:first-of-type:last-of-type {
    border-radius: 3em;
}
ul li {
    list-style-type: none;
    position: relative;
}
ul li::before {
    position: absolute;
    left: -1.5em;
    content: "\25EC";
    font-size: .8em;
}

ol li {
    margin: 1em 0;
}

#Masthead .event-beneficiaries {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: .5em;
    text-align: center;
}
#Masthead .event-beneficiaries div {
    font-size: x-small;
    word-break: break-word;
}
.event-beneficiaries {
    margin: 0;
    padding: 0;
}
.event-beneficiaries li {
    margin: 0 0 3em;
}
.event-beneficiaries li::before {
    content: "";
}
.event-beneficiaries div {
    text-align: center;
}
.event-beneficiaries img {
    display: block;
    max-width: 75%;
    max-height: 175px;
    margin: 0 auto 1em;
}
#Masthead .event-beneficiaries img {
    max-width: 100%;
}

/**
 * @group Main navigation.
 */
#MainNavigation {
    margin-bottom: 2em;
}
#MainNavigation li::before {
    content: none;
}
#MainNavigation ul {
    display: flex;
    flex-wrap: wrap;
}
#MainNavigation li {
    flex-grow: 1;
}

@media screen and (min-width: 690px) {
    body {
        padding: 0 60px 2em;
    }
    #Masthead {
        position: fixed;
        width: 420px;
    }
    #Masthead h1 {
        font-size: 120px;
    }
    #Masthead .event-beneficiaries {
        grid-template-columns: repeat(3, 1fr);
    }
    main, #PageFooter {
        margin-left: 460px;
    }

}

/**
 * @group Links
 */
#Masthead h1 a:hover {
    border-bottom: none;
}
a {
    color: #EEE;
    text-decoration: none;
}
a:hover {
    border-bottom: 1px dotted yellow;
    text-decoration: none;
}

.h-event [itemprop="image"],
.h-event .offers {
    display: none;
}

details {
    padding: 1em;
    overflow: auto;
    border: 1px dotted transparent;
    border-radius: 10px;
}
details:hover {
    border: 1px dotted yellow;
}
details:target {
    border: 1px solid yellow;
    box-shadow: 0 0 15px yellow;
    transition: box-shadow 2s, border 2s;
}
details summary {
    color: #EEE;
    cursor: pointer;
}
details summary span:hover {
    border-bottom: 1px dotted yellow;
}

/**
 * @group Animations.
 */
#Masthead #Tagline {
    display: inline-block;
    overflow: hidden;
    margin: 0;
    border-right: .15em solid orange;
    white-space: nowrap;
    animation:
        typing 4s steps(40, end),
        blink-caret .75s step-end infinite;
}
@keyframes typing {
    from { width: 0; }
    to { width: 100%; }
}
@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange; }
}

/**
 * @group PayPal integrations.
 */
#paypal-return-cancel,
#paypal-return-thank-you {
    display: none;
}
#paypal-return-cancel:target,
#paypal-return-thank-you:target {
    display: block;
    border: 1px dotted yellow;
    padding: 1em;
    font-size: xx-large;
}

/**
 * @group Google Charts override styles.
 */
.google-chart[data-chart="table"] {
    text-align: center;
}
.google-visualization-table table,
.google-visualization-table tr,
.google-visualization-table th,
.google-visualization-table td,
.google-visualization-table table .gradient {
    background: transparent;
    background-image: none;
}
.google-visualization-table table {
    border: 1px solid white;
    border-width: 1px 0 0 1px;
    font-size: medium;
}
