---
layout: html5
---

<section>
    {% include donate-now.html event=page %}
    {% include chart-next-game-prize-pool.html event=page %}
    {% include h-event.html event=page download_link=true paginate=true %}
    <p style="text-align: center;">
        <a href="https://ctf.techlearningcollective.com/" class="button">
            ⚑ Play now
        </a>
    </p>
</section>
<section>
    <h2 id="this-games-beneficiaries">This game&rsquo;s beneficiaries:</h2>
    {% include event-beneficiaries.html event=page %}
    {% include donate-now.html event=page %}
</section>
