{%- include globals.liquid -%}
<!DOCTYPE html>
<html lang="{{ lang }}"
      itemscope="itemscope"
      itemtype="https://schema.org/{{ site.type | default: "Thing" }}"
>
{% include head.html %}
<body>
    <div id="the-background-noise">
        <!--
            I've got a big house.
            I've got a fast car.
            I believe, I am free.
            I'm a good citizen,
            Proud of my children.
            I love my wife.
            I love my life.

            But something isn't sitting right.
            Something wakes me up at night.
            The background noise.
            The background noise.
            Something isn't sitting right.
            Something wakes me up at night.
            The background noise.
            The background noise.

            My government respects me.
            My gun is my security.
            My wealth accounts,
            My loyalty counts.
            I abide by society.
            I give to charity.
            I turn to faith when I cannot explain.

            But something isn't sitting right.
            Something wakes me up at night.
            The background noise.
            The background noise.
            Something isn't sitting right.
            Something wakes me up at night.
            The background noise.
            The background noise.

            Something isn't sitting right.
            Something wakes me up at night.
            The background noise.
            The background noise.
        -->
    </div>
    {% include masthead.html %}
    <main id="MainContent">
    {{ content }}
    </main>
    {% include foot.html %}
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script src="{% link static/js/main.js %}"></script>
</body>
</html>
